body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px 50px 50px 50px;
}

.footer{
    display: flex;
    color: white;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.header,
.footer {
    background-color: #1F2937;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
}

.links {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.links a{
    color: #F9FAF8;
    text-decoration: none;
}

.info {
    display: flex;
}

.logo{ 
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

h2,
.links {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
}

.signUp {
    background-color: #3882F6;
    color: white;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #3882F6;
}

.container2 > .signUp{
    border: 2px solid white;
    height: auto;
    width: auto;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section2 {
    background-color: #E5E7EB;
}


.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.section1 > h1 {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.items {
    max-width: 200px;  
    text-align: center; 
}

.items > img {
    min-height: 100px;
    min-width: 100px;
    border-radius: 5px;
    border: 3px solid #3882F6;
}

.right > img{
    background-color: gray;
    
    
}

.section2,
.section3 {
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}



.qt {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bolder;
}

.container2{
    display: flex;
    flex-direction: row;
    
    background-color: #3882F6;
    border-radius: 5px;
    border: 2px solid #3882F6;
    color: white;

    padding: 50px;
    justify-items: center;
    align-content: center;
    
}
