.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.nav {  
    display: flex;
    flex: 1;
    padding: 0 8px 0 8px;
    column-gap: 16px;
    align-items: center;
    justify-content: space-between;
}



.links {
    display: flex;
    align-items: flex-start;
    border-style: solid;
}
 